html, body{
	overflow-x: hidden;
}
.nav_white{
	background-color: #ffffff;
}


.nav1{
	border-bottom: 0.5px solid #f2f2f2;
	height: 3rem;
}

.nav1_txt{
	font-size: 0.8rem;
	padding-top: 0.5rem;
	padding-right: 2rem;
	padding-left: 3rem;
}

.rht{
	margin-left: 60%;
	margin-top: 0px;
}

.nav2_text{
	font-size: 0.85rem;
}

.nav2 a{
	background-color: #ffffff;
	color: #000000;
}

.btn-top{
	margin-right: 2rem;
	background-color: #F64028;
	padding: 0.6rem;
	border-radius: 7px;
	font-size: 0.8rem;
	border:0;
	color: #ffffff;
}

.jmb{
	background-color: #FBD6CF;
	height: 2.5rem;
}

.jmb-txt{
	font-size: 0.8rem;
	margin-top: 0.7rem;
	font-weight: bold;
}

.containerz {
  position: relative;
  width: 100%;
 
}

.containerz img {
  width: 100%;
  height: 40rem;


}

.containerz .btn {
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #F64028;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.containerz .btn:hover {
  background-color: black;
}

.top-left {
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 2rem;
}

.jmb2{
	background-color: #F5F5F5;
}


.btn-down{

	background: #F64028;
	color: #ffffff;
	border:0;
	padding: 8px 20px;
	border-radius: 5px;
	bottom: 0;
	position: fixed;
	left: 41%;
}




.slider img {

  width: 100%;
  height: auto;
  padding: 15px;


}

h2 {
  text-align: center;
  padding-bottom: 1em;
}

.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.slick-dots li.slick-active button {
  background-color: black;
}
.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  
}




.slick-dots li :hover {
  background-color: black;

}

.slick-slide img{
	border-radius: 8%;
}

.coverimg{

	height: 400px;

	background-image: url('./images/001.jpg');
	background-size: auto;
	background-repeat: no-repeat;
}


/* Child Text Container */
.slick-slide div{
 position: absolute;
 bottom: 0;
 right: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 
}

/* Hover on Parent Container */
.slick-slide:hover{
 cursor: pointer;
}

.slick-slide:hover div{
 width: 150px;
 padding: 8px 15px;
 z-index: 10;
 visibility: visible;
 opacity: 0.7; 
}

.r{
	top: 0;
	float: right;
}

footer a {
	color: black;
}


/* Custom Arrow */
.prev1 {
  color: red;
  position: absolute;
  top: 94%;
  left: 30em;
  background: white;
  height: 35px;
  width: 35px;
  border-radius: 80px;
  border: 1px solid#707070;
  font-size: 1.5em;

}
form{
	font-size: 0.7rem;
}
.form-control1
{
	border-right: 0 !important;
	border-top: 0 !important;
	border-left: 0 !important;

}

.sb{
	background-color: #f2f2f2;
	height: 35px;
	width: 35px;
	border-radius: 100%;

}

.btnorng{
	padding: 5px;
	height: 45px;
	width: 100%;
	font-size: 0.8rem;
	background: #F64028;
	color: white;
	border: 0;
	font-weight: bold;
	border-radius: 10px;
}
.btnorng :hover{
	opacity: 0.7;
}
.prev1 :hover {
  cursor: pointer;
  color: black;
}

.next1 {
  color: red;
  position: absolute;
  top: 94%;
  right: 30em;
  background: white;
  height: 35px;
  width: 35px;
  border-radius: 80px;
   border: 1px solid#707070;
  font-size: 1.5em;
  box-shadow: 0 0 10;
}
.next1 :hover {
  cursor: pointer;
  color: black;
}

/* Custom Arrow */
.prev {
  color: #000000;
  position: absolute;
  top: 38%;
  left: 2em;
  background: white;
  height: 35px;
  width: 35px;
  border-radius: 80px;
  font-size: 1.5em;

}
.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
  color: #000000;
  position: absolute;
  top: 38%;
  right: 2em;
   background: white;
  height: 35px;
  width: 35px;
  border-radius: 80px;
  font-size: 1.5em;
  box-shadow: 0 0 10;
}
.next :hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 800px) {
  .next {
    display: none !important;
  }
}

.txtorng{
	color: #F64028;

}



ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #FFF;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #F64028;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

